html,body {
    height: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
}
a:link{
    font-family: alegreya, serif;
    font-size: 1.5rem;
    font-weight: 400;
    color:#826f4b !important;
    font-style: normal;
    letter-spacing: .1rem;
}
a:hover{
    font-family: alegreya, serif;
    font-size: 1.5rem;
    font-weight: 400;
    color:#38471e !important;
    font-style: normal;
    letter-spacing: .1rem;
    text-decoration: none;
}
.grnHr {
    background-color:#38471e;
    min-height: .2rem;
}
.goldHr {
    background-color:#826f4b;
    min-height: .2rem;
}
#home {
    height: 100%;
}
.sans-serif {
    font-family: 'Montserrat', sans-serif;
}
.gold-text {
    color: #826f4b;
    font-weight: bolder;
}
.grnCard {
    background:#38471e;
    position: relative;
    top:5rem;
    left:10rem;
    color: #f0f0f0;
}
#services{
    font-family: alegreya, serif;
    font-weight: 400;
    color:#826f4b !important;
    font-style: normal;

}
.submit {
    background: #38471e;
    color: white;
    border:0;
    padding:1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.submit:hover {
    background: transparent;
    color: white;
    border:0;
    transition: all .3s ease-in-out;
}
.btns{
    border:0px;
    background: #f0f0f0;
    font-family: alegreya, serif;
    font-weight: 400;
    font-style: normal;
    color: #535353;
    letter-spacing: .1rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.btns:hover{
    border:0px;
    background:#826f4b ;
    font-family: alegreya, serif;
    font-weight: 400;
    font-style: normal;
    color: #f0f0f0;
    cursor: pointer;
    box-shadow: 1px 1px 8px #444;
    transition: all .3s ease-in-out;
}
.outline {
    border: .2rem;
    border-style: solid;
    border-color: white;
}
.grnContainer {
    background:#38471e;
    color:white;
    
}
.lightgrnContainer {
    background:#bed2aa;
    color:white;
    
}
.goldContainer {
    background:#826f4b;
    color:#38471e;
}

.services-header-sm {
    visibility: hidden
}
.services-header-lg {
    color:white;
    /* text-shadow: 2px 8px 8px #444; */
}
/* .text-white {
    color:white;
    font-family: 'Niconne', cursive;
} */
footer {
    color: #444;
}
.credits {
    opacity: .2;
    transition: all .3s ease-in-out;
}
.credits:hover {
    opacity: 1;
    transition: all .3s ease-in-out;
}
textarea[type="text"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {   
  border-color: #38471e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #1d262e;
  outline: 0 none;
}

@media (max-width: 576px) {
    .grnCard {
        background:#38471e;
        position: relative;
        top:5rem;
        left:0rem;
        color: #f0f0f0;
        margin-bottom: 10rem;
    }
    #services{
        margin-top:8rem;
    }
    .items {
        margin-top: 1rem;
    }
    .services-header-sm {
        visibility: visible;
    }
    .services-header-lg {
        visibility: hidden;
        margin-top: 0!important;
    }
    .slideshow {
        margin-bottom: 3rem;
    }
    .outline {
        border: 0;
        border-style: solid;
        border-color: white;
    }
}